<!doctype html>
<title>Domain Authority Score</title>
<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/normalize.css">
<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura-earthly.css">
<form id="calc">
    <label>query <input name="query"></label>
    <label>market <input name="market"></label>
    <label>domain <input name="domain"></label>
    <label>url <input name="url"></label>
    <input type="submit" value="Calculate Authority Score">
</form>
<span><span id="result"></span></span>
{% block script %}{% endblock %}
